/* Meyers CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom Resets */
*,
* ::before,
* ::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
input,
textarea,
button {
  outline: 0;
  border: 0;
  box-shadow: none;
}

/* General */
html {
  font-size: 16px;
}
body {
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Inter", sans-serif;
}

/* Container */
.container {
  max-width: 320px;
  margin: 0 auto;
  width: 100%;
  background-color: #1a1b21;
}

/* Flex  */
.flex {
  display: flex;
}
.justify-around {
  justify-content: space-around;
}
.align-center {
  align-items: center;
}

/* Buttons */
.btn {
  display: inline-block;
  border: 1px solid #d1d5db;
  background-color: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  padding: 8.5px 13px 8.5px 11px;
  color: #374151;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  width: 280px;
  margin-top: 1rem;
  font-size: 0.875rem;
  vertical-align: middle;
}
.btn:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  opacity: 0.8;
}

/* Nav and General Links Hover */
.header > a:hover {
  color: #707479 !important;
}

/* Text */
.text-center {
  text-align: center;
}

/* Header */
.header > img {
  width: 320px;
  height: 320px;
  object-fit: contain;
}
.header > h1 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 30px;
  color: white;
  margin-top: 1.3rem;
}
.header > h2 {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 15px;
  color: #f3bf99;
  margin-top: 0.375rem;
}
.header > a {
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 150%;
  color: white;
  margin-top: 0.56rem;
}
.btn > img {
  margin-right: 8px;
  margin-top: -1px;
  vertical-align: middle;
  max-width: 1rem;
  max-height: 1rem;
}

/* Main */

.about > p,
.interests > p {
  color: white;
  font-weight: 400;
  font-size: 0.64rem;
  line-height: 150%;
  margin-left: 1.6rem;
  margin-right: 1.6rem;
}
.interests > p {
  margin-bottom: 1.3rem;
}
.about > h3,
.interests > h3 {
  color: #f5f5f5;
  font-weight: 700;
  font-size: 1rem;
  line-height: 120%;
  margin: 2rem 1.6rem 0.3rem 1.6rem;
}
.interests > h3 {
  margin-top: 1rem;
}

/* Footer */
.footer {
  padding: 1.2rem 1.3rem;
  padding-bottom: 2rem;
}
